.containerQuemSomos{
    display: flex;
    background-color: aqua;
    height: 85vh;
    background-image: url("../../assets/backgroundQuemSomos.png");
    background-repeat: no-repeat;
    background-size: 100% 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.boxTextosQuemSomos{

width: 45%;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: space-between;

h2{
    color: #205691;
    font-size: 2.5rem;
    width: 60%;
}
p{
    font-size: 1.5rem;
    width: 65%;
}

}