.containerTelaPerfil {
    //background-color: aqua;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

  article {
    display: flex;
    border: solid  #EFEEEA ;
    height: 40vh;
    border-radius: 16px;
    justify-content: space-evenly;
    
    
    img{
        border-radius: 100%;
        border: solid #00AAFF;
        
    }


  }

}
.cardInfo{
    //border: solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    h3{
        color: #278733;
    }

    .paragrafoSobreMim{

        text-align: center;
    }
}

address{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.listaInteresses{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    li{
        background-color: #D4E7D6;
        padding: 0.6rem;
        border-radius: 10px;
        color: #278733;
        
    }

}