.navBar {
  background-color: #205691;
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-around;

  ul {
    //border: solid red;
    display: flex;
    width: 60%;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
  }

  a {
    color: #fff;
    font-size: 1.75rem;
  }

  .imgPerfil {
    border-radius: 100%;
    border: solid #00aaff;
  }
}

//---------------Responsivo-----------

@media (min-width: 201px) and (max-width: 500px) {
  .navBar {

    height: 10vh;

    ul {
      width: 55%;
     
    }

    a {
      font-size: 0.85rem;
    }

    .imgLogo{
        height: 6vh;
    }

    .imgPerfil{
        height: 8vh;
    }
  }
}
